{% extends 'frontend/layout.html.twig' %}

{% form_theme userForm _self %}

{% block form_errors %}
    {% spaceless %}
        {% if compound %}
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">{{ error.message }}</div>
            {% endfor %}
        {% else %}
            {% for error in errors %}
                <span class="help-block">{{ error.message }}</span>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block header %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('homepage') }}">Workbook</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container login-container" role="main">
        {{ form_start(userForm, { 'action': path('register'), 'method': 'POST' }) }}
        {{ form_errors(userForm) }}
        {{ form_widget(userForm._token) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'user.register'|trans }}
            </div>
            <div class="panel-body">
                <div class="{{ 'form-group' ~ (userForm.name.vars.errors|length ? ' has-error') }}">
                    {{ form_label(userForm.name, null, { 'label_attr': { 'class': 'sr-only' } }) }}
                    {{ form_widget(userForm.name, { 'attr': {
                        'class': 'form-control',
                        'placeholder': userForm.name.vars.label,
                    } }) }}
                    {{ form_errors(userForm.name) }}
                </div>
                <div class="{{ 'form-group' ~ (userForm.email.vars.errors|length ? ' has-error') }}">
                    {{ form_label(userForm.email, null, { 'label_attr': { 'class': 'sr-only' } }) }}
                    {{ form_widget(userForm.email, { 'attr': {
                        'class': 'form-control',
                        'placeholder': userForm.email.vars.label,
                    } }) }}
                    {{ form_errors(userForm.email) }}
                </div>
                <div class="{{ 'form-group' ~ (userForm.password.first.vars.errors|length ? ' has-error') }}">
                    {{ form_label(userForm.password.first, null, { 'label_attr': { 'class': 'sr-only' } }) }}
                    {{ form_widget(userForm.password.first, { 'attr': {
                        'class': 'form-control',
                        'placeholder': userForm.password.first.vars.label,
                    } }) }}
                    {{ form_errors(userForm.password.first) }}
                </div>
                <div class="{{ 'form-group' ~ (userForm.password.second.vars.errors|length ? ' has-error') }}">
                    {{ form_label(userForm.password.second, null, { 'label_attr': { 'class': 'sr-only' } }) }}
                    {{ form_widget(userForm.password.second, { 'attr': {
                        'class': 'form-control',
                        'placeholder': userForm.password.second.vars.label,
                    } }) }}
                    {{ form_errors(userForm.password.second) }}
                </div>
            </div>
            <div class="panel-footer panel-action">
                <a href="{{ path('login') }}" class="btn btn-default" type="submit">{{ 'user.login'|trans }}</a>
                {{ form_widget(userForm.submit, { 'attr': { 'class': 'btn btn-primary pull-right' } }) }}
                <div class="clearfix"></div>
            </div>
        </div>
        {{ form_end(userForm, { 'render_rest': false }) }}
    </div>
{% endblock %}