{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <div class="container" role="main">

        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body panel-img">
                        {% if user.avatar %}
                            <img src="{{ user.avatar }}" alt="" class="img-responsive" />
                        {% else %}
                            <img src="/frontend/images/avatars/no_avatar.jpg" alt="" class="img-responsive" />
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center">
                        <strong>{{ user.name }}</strong>
                    </div>
                    {% if user.about %}
                        <div class="panel-body">
                            {{ user.about|nl2br }}
                        </div>
                    {% endif %}
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Friends ({{ user.people|length }})
                    </div>
                    {% if not user.people %}
                        <div class="panel-heading">
                            No friends.
                        </div>
                    {% else %}
                        <ul class="list-group">
                            {% for person in user.people %}
                                <a href="{{ path('profile', { id: person.id }) }}" class="list-group-item">{{ person.name }}</a>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                {% if is_owner(user) %}
                    <a href="#" class="btn btn-block btn-primary">Edit profile</a>
                {% else %}
                    <a href="#" class="btn btn-block btn-primary">Add friend</a>
                {% endif %}
            </div>

            <div class="col-sm-12 col-md-9">
                <div class="row">
                    {% if is_owner(user) %}
                        {{ form_start(postForm, { 'action': path('homepage'), 'method': 'POST' }) }}
                        {{ form_errors(postForm) }}
                        {{ form_widget(postForm._token) }}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="{{ 'form-group' ~ (postForm.content.vars.errors|length ? ' has-error') }}">
                                    {{ form_widget(postForm.content, { 'attr': {
                                        'class': 'form-control',
                                        'placeholder': postForm.content.vars.label,
                                        'rows': 3,
                                        'style': 'resize: vertical;',
                                    } }) }}
                                    {{ form_errors(postForm.content) }}
                                </div>
                                <div class="{{ 'form-group' ~ (postForm.type.vars.errors|length ? ' has-error') }}">
                                    {{ form_label(postForm.type) }}
                                    {{ form_widget(postForm.type, { 'attr': {
                                        'class': 'form-control',
                                    } }) }}
                                    {{ form_errors(postForm.type) }}
                                </div>
                                <div class="{{ 'form-group' ~ (postForm.privacy.vars.errors|length ? ' has-error') }}">
                                    {{ form_label(postForm.privacy) }}
                                    {{ form_widget(postForm.privacy, { 'attr': {
                                        'class': 'form-control',
                                    } }) }}
                                    {{ form_errors(postForm.privacy) }}
                                </div>
                            </div>
                            <div class="panel-footer panel-action">
                                <button id="send" type="submit" class="btn btn-primary pull-right">Submit</button>
                            </div>
                            {{ form_end(postForm, { 'render_rest': false }) }}
                        </div>
                    {% endif %}

                    {% for post in timeline %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="{{ path('profile', { id: user.id }) }}" class="panel-heading-img pull-left">

                                    {% if user.avatar %}
                                        <img src="{{ user.avatar }}" alt="" width="60" height="60" />
                                    {% else %}
                                        <img src="/frontend/images/avatars/no_avatar.jpg" alt="" width="60" height="60" />
                                    {% endif %}
                                </a>
                                <div class="panel-action panel-heading-action">
                                    <div class="action-block">
                                        <a href="{{ path('profile', { id: user.id }) }}">{{ user.name }}</a>
                                    </div>
                                    <div class="action-block action-time">
                                        {{ post.createdAt|time_ago }}
                                    </div>
                                </div>
                            </div>
                            {% if post.type == 10 %}
                                <div class="panel-body panel-video">
                                    <iframe src="{{ post.content }}" allowfullscreen></iframe>
                                </div>
                            {% elseif post.type == 5 %}
                                <div class="panel-body panel-img">
                                    <img src="{{ post.content }}" alt="" class="img-responsive" />
                                </div>
                            {% else %}
                                <div class="panel-body">
                                    {{ post.content|nl2br }}
                                </div>
                            {% endif %}
                            <div class="panel-footer" style="color: #999;">
                                <div>{{ post.comments|length }} Comments - {{ post.reactions|length }} Likes</div>
                            </div>
                            {% if post.comments|length %}
                                <div class="panel-footer">
                                    Comments are here
                                </div>
                            {% endif %}
                            <div class="panel-footer">
                                [comment_form]
                            </div>
                        </div>
                    {% else %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                No posts on your timeline.
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
