{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <div class="container" role="main">

        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body panel-img">
                        {% if profile.avatar %}
                            <img src="{{ profile.avatar }}" alt="" class="img-responsive" />
                        {% else %}
                            <img src="/frontend/images/avatars/no_avatar.jpg" alt="" class="img-responsive" />
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center">
                        <strong>{{ profile.name }}</strong>
                    </div>
                    {% if profile.about %}
                        <div class="panel-body">
                            {{ profile.about|nl2br }}
                        </div>
                    {% endif %}
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Friends ({{ profile.friends|length }})
                    </div>
                    {% if not profile.friends %}
                        <div class="panel-heading">
                            No friends.
                        </div>
                    {% else %}
                        <ul class="list-group">
                            {% for person in profile.friends %}
                                <a href="{{ path('profile', { id: person.id }) }}" class="list-group-item">{{ person.name }}</a>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                {% if is_owner(profile) %}
                    <a href="#" class="btn btn-block btn-primary">Edit profile</a>
                {% else %}
                    <a href="#" class="btn btn-block btn-primary">Add friend</a>
                {% endif %}
            </div>

            <div class="col-sm-12 col-md-9">
                <div class="row">
                    {% if is_owner(profile) %}
                        {{ form_start(postForm, { 'action': path('profile', { id: profile.id }), 'method': 'POST' }) }}
                        {{ form_errors(postForm) }}
                        {{ form_widget(postForm._token) }}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="{{ 'form-group' ~ (postForm.content.vars.errors|length ? ' has-error') }}">
                                    {{ form_widget(postForm.content, { 'attr': {
                                        'class': 'form-control',
                                        'placeholder': postForm.content.vars.label,
                                        'rows': 3,
                                        'style': 'resize: vertical;',
                                    } }) }}
                                    {{ form_errors(postForm.content) }}
                                </div>
                                <div class="{{ 'form-group' ~ (postForm.type.vars.errors|length ? ' has-error') }}">
                                    {{ form_label(postForm.type) }}
                                    {{ form_widget(postForm.type, { 'attr': {
                                        'class': 'form-control',
                                    } }) }}
                                    {{ form_errors(postForm.type) }}
                                </div>
                                <div class="{{ 'form-group' ~ (postForm.privacy.vars.errors|length ? ' has-error') }}">
                                    {{ form_label(postForm.privacy) }}
                                    {{ form_widget(postForm.privacy, { 'attr': {
                                        'class': 'form-control',
                                    } }) }}
                                    {{ form_errors(postForm.privacy) }}
                                </div>
                            </div>
                            <div class="panel-footer panel-action">
                                <button id="send" type="submit" class="btn btn-primary pull-right">Submit</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        {{ form_end(postForm, { 'render_rest': false }) }}
                    {% endif %}

                    {% for post in timeline %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="btn-group pull-right" role="group">
                                    <a href="{{ path('post', { id: post.id }) }}" class="btn btn-default">View</a>
                                    {% if post.author(app.user) %}
                                        <a href="{{ path('post_edit', { id: post.id }) }}" class="btn btn-default">Edit</a>
                                    {% endif %}
                                </div>
                                <a href="{{ path('profile', { id: profile.id }) }}" class="panel-profile-img pull-left">
                                    {% if profile.avatar %}
                                        <img src="{{ profile.avatar }}" alt="" width="60" height="60" />
                                    {% else %}
                                        <img src="/frontend/images/avatars/no_avatar.jpg" alt="" width="60" height="60" />
                                    {% endif %}
                                </a>
                                <div class="panel-action panel-profile-action">
                                    <div class="action-block">
                                        <a href="{{ path('profile', { id: profile.id }) }}">{{ profile.name }}</a>
                                    </div>
                                    <div class="action-block action-time">
                                        {{ post.createdAt|time_ago }}
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {% if post.type == 10 %}
                                <div class="panel-body panel-video">
                                    <iframe src="{{ post.content }}" allowfullscreen></iframe>
                                </div>
                            {% elseif post.type == 5 %}
                                <div class="panel-body panel-img">
                                    <img src="{{ post.content }}" alt="" class="img-responsive" />
                                </div>
                            {% else %}
                                <div class="panel-body">
                                    {{ post.content|nl2br }}
                                </div>
                            {% endif %}
                            <div class="panel-footer" style="color: #999;">
                                <div>
                                    <span data-post="{{ post.id }}" class="comment-count">{{ post.comments|length }}</span> Comments
                                    -
                                    <span data-post="{{ post.id }}" class="like-count">{{ post.reactions|length }}</span> Likes
                                </div>
                                <div>
                                    {% if post.hasReaction(app.user) %}
                                        <a href="#" data-trigger="post-unlike" data-href="{{ path('api_post_reaction') }}" data-post="{{ post.id }}" data-user="{{ app.user.id }}">Unlike</a>
                                        <a href="#" data-trigger="post-like" data-href="{{ path('api_delete_reaction') }}" data-post="{{ post.id }}" data-user="{{ app.user.id }}" style="display: none;">Like</a>
                                    {% else %}
                                        <a href="#" data-trigger="post-unlike" data-href="{{ path('api_post_reaction') }}" data-post="{{ post.id }}" data-user="{{ app.user.id }}" style="display: none;">Unlike</a>
                                        <a href="#" data-trigger="post-like" data-href="{{ path('api_delete_reaction') }}" data-post="{{ post.id }}" data-user="{{ app.user.id }}">Like</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% for comment in post.comments %}
                                <div class="panel-footer">
                                    <div class="comment-heading">
                                        <a href="{{ path('profile', { id: comment.respondent.id }) }}" class="panel-profile-img pull-left">

                                            {% if comment.respondent.avatar %}
                                                <img src="{{ comment.respondent.avatar }}" alt="" width="60" height="60" />
                                            {% else %}
                                                <img src="/frontend/images/avatars/no_avatar.jpg" alt="" width="60" height="60" />
                                            {% endif %}
                                        </a>
                                        <div class="panel-action panel-profile-action">
                                            <div class="action-block">
                                                <a href="{{ path('profile', { id: comment.respondent.id }) }}">{{ comment.respondent.name }}</a>
                                            </div>
                                            <div class="action-block action-time">
                                                {{ comment.createdAt|time_ago }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="comment-content">
                                        {{ comment.content|nl2br }}
                                    </div>
                                </div>
                            {% endfor %}
                            {% set commentForm = comment_form() %}
                            {{ form_start(commentForm, { 'name': random(), 'action': path('post', { id: post.id }), 'method': 'POST' }) }}
                            {{ form_widget(commentForm._token) }}
                            <div class="panel-footer">
                                <div class="{{ 'form-group' ~ (commentForm.content.vars.errors|length ? ' has-error') }}">
                                    {{ form_widget(commentForm.content, { 'attr': {
                                        'class': 'form-control',
                                        'placeholder': commentForm.content.vars.label,
                                        'rows': 3,
                                        'style': 'resize: vertical;',
                                    } }) }}
                                </div>
                                <div class="form-group">
                                    <button id="send" type="submit" class="btn btn-primary pull-right">Submit</button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            {{ form_end(commentForm, { 'render_rest': false }) }}
                        </div>
                    {% else %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                No posts on your timeline.
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
