{% extends 'frontend/layout.html.twig' %}

{% form_theme postForm _self %}

{% block form_errors %}
    {% spaceless %}
        {% if compound %}
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">{{ error.message }}</div>
            {% endfor %}
        {% else %}
            {% for error in errors %}
                <span class="help-block">{{ error.message }}</span>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block content %}
    <div class="container" role="main">
        <div class="row">
            {{ form_start(postForm, { 'action': path('homepage'), 'method': 'POST' }) }}
            {{ form_errors(postForm) }}
            {{ form_widget(postForm._token) }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="{{ 'form-group' ~ (postForm.content.vars.errors|length ? ' has-error') }}">
                        {{ form_widget(postForm.content, { 'attr': {
                            'class': 'form-control',
                            'placeholder': postForm.content.vars.label,
                            'rows': 3,
                            'style': 'resize: vertical;',
                        } }) }}
                        {{ form_errors(postForm.content) }}
                    </div>
                    <div class="{{ 'form-group' ~ (postForm.type.vars.errors|length ? ' has-error') }}">
                        {{ form_label(postForm.type) }}
                        {{ form_widget(postForm.type, { 'attr': {
                            'class': 'form-control',
                        } }) }}
                        {{ form_errors(postForm.type) }}
                    </div>
                    <div class="{{ 'form-group' ~ (postForm.privacy.vars.errors|length ? ' has-error') }}">
                        {{ form_label(postForm.privacy) }}
                        {{ form_widget(postForm.privacy, { 'attr': {
                            'class': 'form-control',
                        } }) }}
                        {{ form_errors(postForm.privacy) }}
                    </div>
                </div>
                <div class="panel-footer panel-action">
                    {{ form_widget(postForm.submit, { attr: { 'class': 'btn btn-primary pull-right' }}) }}
                    <div class="clearfix"></div>
                </div>
            </div>
            {{ form_end(postForm, { 'render_rest': false }) }}

            {% for post in timeline %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-group pull-right" role="group">
                            <a href="{{ path('post', { id: post.id }) }}" class="btn btn-default">{{ 'post.view'|trans }}</a>
                            {% if post.author(app.user) %}
                                <a href="{{ path('post_edit', { id: post.id }) }}" class="btn btn-default">{{ 'post.edit'|trans }}</a>
                            {% endif %}
                        </div>
                        <a href="{{ path('profile', { id: post.user.id }) }}" class="panel-profile-img pull-left">
                            {% if post.user.avatar %}
                                <img src="{{ post.user.avatar }}" alt="" width="60" height="60" />
                            {% else %}
                                <img src="/frontend/images/avatars/no_avatar.jpg" alt="" width="60" height="60" />
                            {% endif %}
                        </a>
                        <div class="panel-action panel-profile-action">
                            <div class="action-block">
                                <a href="{{ path('profile', { id: post.user.id }) }}">{{ post.user.name }}</a>
                            </div>
                            <div class="action-block action-time">
                                {{ post.createdAt|time_ago }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {% if post.type == 10 %}
                        <div class="panel-body panel-video">
                            <iframe src="{{ post.content }}" allowfullscreen></iframe>
                        </div>
                    {% elseif post.type == 5 %}
                        <div class="panel-body panel-img">
                            <img src="{{ post.content }}" alt="" class="img-responsive" />
                        </div>
                    {% else %}
                        <div class="panel-body">
                            {{ post.content|nl2br }}
                        </div>
                    {% endif %}
                    <div class="panel-footer" style="color: #999;">
                        <div>
                            {{ ('entity.post.comments'|trans) ~ ':' }} <span data-post="{{ post.id }}" class="comment-count">{{ post.comments|length }}</span>
                            -
                            {{ ('entity.post.reactions'|trans) ~ ':' }} <span data-post="{{ post.id }}" class="like-count">{{ post.reactions|length }}</span>
                        </div>
                        <div>
                            {% if post.hasReaction(app.user) %}
                                <a href="#" data-trigger="post-unlike" data-href="{{ path('api_post_reaction') }}" data-post="{{ post.id }}" data-user="{{ app.user.id }}">{{ 'post.unlike'|trans }}</a>
                                <a href="#" data-trigger="post-like" data-href="{{ path('api_delete_reaction') }}" data-post="{{ post.id }}" data-user="{{ app.user.id }}" style="display: none;">{{ 'post.like'|trans }}</a>
                            {% else %}
                                <a href="#" data-trigger="post-unlike" data-href="{{ path('api_post_reaction') }}" data-post="{{ post.id }}" data-user="{{ app.user.id }}" style="display: none;">{{ 'post.unlike'|trans }}</a>
                                <a href="#" data-trigger="post-like" data-href="{{ path('api_delete_reaction') }}" data-post="{{ post.id }}" data-user="{{ app.user.id }}">{{ 'post.like'|trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                    {% for comment in post.comments %}
                        <div class="panel-footer">
                            <div class="comment-heading">
                                <a href="{{ path('profile', { id: comment.respondent.id }) }}" class="panel-profile-img pull-left">

                                    {% if comment.respondent.avatar %}
                                        <img src="{{ comment.respondent.avatar }}" alt="" width="60" height="60" />
                                    {% else %}
                                        <img src="/frontend/images/avatars/no_avatar.jpg" alt="" width="60" height="60" />
                                    {% endif %}
                                </a>
                                <div class="panel-action panel-profile-action">
                                    <div class="action-block">
                                        <a href="{{ path('profile', { id: comment.respondent.id }) }}">{{ comment.respondent.name }}</a>
                                    </div>
                                    <div class="action-block action-time">
                                        {{ comment.createdAt|time_ago }}
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="comment-content">
                                {{ comment.content|nl2br }}
                            </div>
                        </div>
                    {% endfor %}
                    {% set commentForm = comment_form() %}
                    {{ form_start(commentForm, { 'name': random(), 'action': path('post', { id: post.id }), 'method': 'POST' }) }}
                    {{ form_widget(commentForm._token) }}
                    <div class="panel-footer">
                        <div class="{{ 'form-group' ~ (commentForm.content.vars.errors|length ? ' has-error') }}">
                            {{ form_widget(commentForm.content, { 'attr': {
                                'class': 'form-control',
                                'placeholder': commentForm.content.vars.label,
                                'rows': 3,
                                'style': 'resize: vertical;',
                            } }) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(commentForm.submit, { attr: { 'class': 'btn btn-primary pull-right' }}) }}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    {{ form_end(commentForm, { 'render_rest': false }) }}
                </div>
            {% else %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ 'user.empty_timeline'|trans }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
